<div class="container">
  <mat-grid-list cols="2" rowHeight="100vh">
    <mat-grid-tile>
      <div class="left-container">
        <div class="image-wrapper">
          <img src="logosite.png" alt="Imagem Login" />
          <img [src]="getAssetUrl('logosite.png')" alt="Imagem Login" />

          
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="right-container">
        <mat-card>
          <mat-card-title>ACESSAR</mat-card-title>
          <mat-card-content>
            <form>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>E-mail</mat-label>
                <input matInput type="email" required />
              </mat-form-field>
  
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Senha</mat-label>
                <input matInput type="password" required />
              </mat-form-field>
  
              <button mat-raised-button color="surface" class="full-width">Entrar</button>
              <button mat-raised-button (click) ="cadastrar()" color="primary" class="full-width">Cadastrar</button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-grid-tile> 
  </mat-grid-list>
</div>